--extra-index-url https://download.pytorch.org/whl/cu121
torch >= 2.0

--requirement ../requirements.txt

jax[cpu] >= 0.4; platform_system != 'Windows'
jaxopt; platform_system != 'Windows'
optax < 0.1.8a0; platform_system != 'Windows' and python_version < '3.9'
optax >= 0.1.8; platform_system != 'Windows' and python_version >= '3.9'

pytest
pytest-cov
pytest-xdist
isort
black[jupyter]
pylint[spelling]
mypy
flake8
flake8-bugbear
flake8-comprehensions
flake8-docstrings
flake8-pyi
flake8-simplify
ruff
doc8
pydocstyle[toml]
pyenchant
cpplint
pre-commit
