--extra-index-url https://download.pytorch.org/whl/cu117
torch >= 1.13

--requirement ../requirements.txt

jax[cpu] >= 0.3
jaxopt
optax

pytest
pytest-cov
pytest-xdist
isort >= 5.11.0
black[jupyter] >= 22.6.0
pylint[spelling] >= 2.15.0
mypy >= 0.990
types-setuptools
flake8
flake8-bugbear
# https://github.com/PyCQA/doc8/issues/112
doc8 < 1.0.0a0
pydocstyle
pyenchant
cpplint
pre-commit
