--extra-index-url https://download.pytorch.org/whl/cu121
torch >= 2.0
torchvision

--requirement ../requirements.txt

gym >= 0.20.0, < 0.24.0a0
matplotlib
pandas
seaborn
torchviz
torchrl
pillow
setproctitle
