--extra-index-url https://download.pytorch.org/whl/cpu
# Sync with project.dependencies
torch >= 1.13

--requirement ../requirements.txt

sphinx >= 5.2.1, < 7.0.0a0
sphinxcontrib-bibtex >= 2.4
sphinx-autodoc-typehints >= 1.20
myst-nb >= 0.15

sphinx-autoapi
sphinx-autobuild
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-katex
IPython
ipykernel
docutils
matplotlib
