--extra-index-url https://download.pytorch.org/whl/cpu
torch >= 1.12
torchvision
functorch >= 0.2

--requirement ../requirements.txt

sphinx >= 5.0
sphinx-autoapi
sphinx-autobuild
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-katex
sphinxcontrib-bibtex
sphinx-autodoc-typehints
IPython
ipykernel
pandoc
myst_nb
docutils
matplotlib
