--extra-index-url https://download.pytorch.org/whl/cpu
# Sync with project.dependencies
torch >= 1.13

--requirement ../requirements.txt

sphinx >= 5.2.1
sphinx-autoapi
sphinx-autobuild
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-katex
sphinxcontrib-bibtex
sphinx-autodoc-typehints >= 1.19.2
IPython
ipykernel
pandoc
myst-nb
docutils
matplotlib
